/.bashrc
/.file.c.swp
/.swp
/=
/Linux-Cheat-Sheet-Sponsored-By-Loggly.pdf
/New Folder
/Phonebook.sh
/T
/abdelrhman_file
/address_book.txt
/age
/calc_file
/database.txt
/file.log
/file.py
/file.rar
/knawy_file
/knkn_file
/phonebook2.sh
/script1
/script1.sh
/script2.sh
/script3.sh
/script4.sh
/script5.sh
/script5.sh.save
/script6.sh
/task1.rar
/taskscript.sh
/test.sh
/test.txt
/test2.txt